
body {
  background-color: #1a1a1a; 
  color: #fff; 
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.home-container {
  background: linear-gradient(to bottom, #001f4d, #001732);
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  height: 70vh;
}

.content {
  padding: 20px;
}

h2 {
  font-size: 36px;
  color: green
}

p {
  font-size: 20px;
  color: #fff;
  margin: 10px 0;
}


.navbar {
  background-color: #333;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
}

.nav-links {
  display: flex;
  gap: 50px 
}

.nav-link {
  text-decoration: none;
  color: green;
  font-size: 18px;
  margin: 0 10px;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #006400;
  transition: background-color 0.3s;

  &:hover {
    background-color: #008000;
  }
}




.songs-container {
  background-color: #1a1a1a; 
  color: green; 
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.songs-table {
  width: 100%;
  border-collapse: collapse;
}

.songs-table th, .songs-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #333;
}

.songs-table th {
  background-color: #333; 
  color: green; 
}

.songs-table th:first-child, .songs-table td:first-child {
  border-left: none; 
}

.underline {
  text-decoration: underline;
  font-weight: bolder;
}

.td {
  color: green;
}

.td:hover {
  color: red;
}

.home-container {
  background-color: #1a1a1a;
  color: #fff;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.welcome-heading {
  font-size: 24px;
  margin: 0;
  padding-bottom: 10px;
}

.app-heading {
  font-size: 18px;
  margin: 0;
  padding: 5px 0;
}

.showNavigation {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button {
  background-color: #006400;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #008000;
}

/* Add these styles to your app's stylesheet */

.new-song-form {
  background-color: #1a1a1a;
  color: #fff;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.new-song-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 18px;
  margin-top: 10px;
}

input[type="text"],
input[type="number"],
input[type="checkbox"] {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  margin-top: 5px;
}

.submit-button {
  background-color: #006400;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #008000;
}

.button {
  background-color: #333;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #555;
}
/* Add these styles to your app's stylesheet */

.Edit {
  background-color: #1a1a1a;
  color: #fff;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.Edit form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 18px;
  margin-top: 10px;
}

input[type="text"],
input[type="checkbox"] {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  margin-top: 5px;
}

.submit-button {
  background-color: #006400;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #008000;
}

.button {
  background-color: #333;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #555;
}